{% extends 'base.html' %}

{% block customcss %}
<style>
    .StripeElement {
        box-sizing: border-box;

        height: 40px;

        padding: 10px 12px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-6 border rounded bg-white p-5">
            <p class="h5">You are about to buy a <strong>{{ request.session.plan_type }}</strong> plan</p>
            <hr>
            <form method="post" id="payment-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="card-element">
                    Credit or debit card
                    </label>
                    <div style="width: 30em" id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>

                <button class="btn btn-primary" id="submitBtn" data-secret="{{ client_secret }}" data-first-name="{{ first_name }}" data-last-name="{{ last_name }}">Pay</button>
                <input type="hidden" name="payment_intent" value="{{ payment_intent }}">
                <input id="payment-method" type="hidden" name="payment_method_id" value="">
            </form>
        </div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        const stripe = Stripe('pk_test_74YvyBqkakD4zxLzNWwsobOX007KjEpmW0');
        // Create an instance of Elements.
        const elements = stripe.elements();

        const style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };


        let card = elements.create('card', {style:style})
        card.mount('#card-element')

        // error handling
        card.addEventListener('change', ({error}) => {
            const displayError = document.getElementById('card-errors');
            if (error) {
                displayError.textContent = error.message;
            } else {
                displayError.textContent = '';
            }
        });

        let submitButton = document.getElementById('submitBtn');

        let loadingIndicatorNode = document.createElement('div');
        loadingIndicatorNode.innerHtml = '<p>Processing payment...</p>';

        let clientName = submitButton.dataset.firstName + " " + submitButton.dataset.lastName
        submitButton.addEventListener('click', function(ev) {
            ev.preventDefault();

            // prevent form from submitting again
            submitButton.classList.add("disabled")
            submitButton.after(loadingIndicatorNode);

            stripe.createPaymentMethod({
                type: 'card',
                card: card,
                billing_details: {
                    name: clientName,
                },
            }).then((result) => {
                // Handle result.error or result.paymentMethod
                if (result.error) {
                    console.log(result.error.message);
                } else {
                    document.getElementById('payment-method').value = result.paymentMethod.id
                    document.forms['payment-form'].submit();
                }
            });
        });
    </script>
{% endblock %}