{% extends 'base.html' %}

{% block content %}
    <section class="py-5">
            <div class="row justify-content-center mb-4">
                <div class="col-lg-8">
                    {% if user.hospital.subscription.plan.plan_type != 'free' and not user.hospital.subscription.downgrade_at_period_end %}
                        <p>Your subscription will automatically be renewed on <b>{{ user.hospital.subscription.get_next_billing_date }}</b></p>
                    {% elif user.hospital.subscription.downgrade_at_period_end %}
                        <p>Your subscription has been canceled and you will not be billed again. You will be able to upgrade again after {{ user.hospital.subscription.current_period_end }}</p>
                    {% else %}
                        <p class="h5">Choose the plan that's right for you</p>
                        <p>You can cancel your plan later, but your money won't be refunded</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
            <!-- Free Tier -->
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                            <h6 class="text-center">$0/month</h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Up to 25 examinations</li>
                            </ul>
                            {% if user.hospital.subscription.downgrade_at_period_end %}
                                <a href="#" class="btn btn-block btn-secondary text-uppercase disabled">Your subscription will be downgraded</a>
                            {% elif user.hospital.subscription.plan.plan_type == 'free' %}
                                <a href="#" class="btn btn-block btn-secondary text-uppercase disabled">Current subscription</a>
                            {% else %}
                                <form action={% url 'subscriptions:cancel' %} method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-block btn-primary text-uppercase">Downgrade (Cancel)</button>
                                </form>	
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
                
                <!-- Pro Tier -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                            <h6 class="text-center">$15/month</h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Examinations</strong></li>
                            </ul>
                            {% if user.hospital.subscription.downgrade_at_period_end %}
                                <a href="#" class="btn btn-block btn-secondary text-uppercase disabled">upgrade after end of billing period</a>
                            {% elif user.hospital.subscription.plan.plan_type != 'free' %}
                                <a href="#" class="btn btn-block btn-secondary text-uppercase disabled">Current subscription</a>
                            {% else %}
                                <form method="POST">
                                    {% csrf_token %}
                                        <button class="btn btn-block btn-primary text-uppercase">Upgrade</button>
                                    <input type="hidden" name="plan_type" value="pro">
                                </form>	
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
    </section>
{% endblock %}