{% extends 'base.html' %}

{% block customcss %}
<style>
  body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.pexels.com/photos/2182972/pexels-photo-2182972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
        </div>
        <div class="col-sm-10 col-md-10">
        <div class="border rounded bg-white p-5" >
            <a href="{% url 'examination_new' %}" role="button" class="btn btn-primary float-right m-1"><i class="fa fa-plus pr-1"></i>New</a>
            {% if examinations %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Patient</th>
                            <th scope="col">Study conducted on</th>
                            <th scope="col">Study created on</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for examination in examinations %}
                            <tr>
                                <td>{{ examination.pat_name }}</td>
                                <td>Study date here</td>
                                <td>{{ examination.created_on }}</td>
                                <td><a href="{% url 'examination_detail' examination.pk %}" role="button" class="btn btn-primary mr-1">View</a><a href="{% url 'examination_delete' examination.pk %}" role="button" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <p class="h4">You currently have no examinations!</p>
            {% endif %}
        </div>
        </div>
        <div class="col">
        </div>
    </div>
    
{% endblock content %}