{% extends 'base.html' %}
{% block content %}
    <h2>{{ examination.pat_name }}</h2>
    <p>Notes: {{ examination.notes }}</p>
    <p>{{ examination.image_type }}:</p>
    <img src="{{ examination.image.url }}">
    {% for inferred_finding in inferred_findings %}
        <p>{{ inferred_finding.finding }}: {{ inferred_finding.certainty }}</p>
    {% endfor %}

    <p>Do you see a problem with these findings? Please mark what you assume would be the correct findings</p><a class="btn btn-outline-primary" href="{% url 'examination_mark_defect_no_finding' examination.pk %}">Mark</a>
    
    <p>Study created on: {{ examination.created_on }}</p>
{% endblock content %}
